<div class="container">
    <h2>Stacked form</h2>
    <!-- we should change bootstrap form to angular form =>ngForm -->
    <form #loginform="ngForm" (ngSubmit)="loginUser();">
        <!-- Show error message -->
        <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <!-- ngModel for bind real obj to UI elemet => 2way -->
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.emailId" 
        required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"/>
        <!-- add class conditionally [class.className]="condition" -->
        <!-- <small class ="text-danger" [class.d-none]="email.valid || email.untouched">email Id is a required field</small> -->
    <div *ngIf="email.errors && email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors.required">Email is a required field</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter an valid email</small>
    </div> 
    </div>
      <div class="form-group"> 
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password"
        required #password="ngModel" [class.is-invalid]="password.invalid && password.touched"/>
    <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is a required field</small>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <!-- [disabled]=loginform.invalid =>property binding based on condition -->
      <button type="submit" class="btn btn-info" [disabled]=loginform.invalid>Login</button>
    </form>
    <!-- <small class="float-right" (click)=registerUser()> new user? register here</small> -->
    <a class="float-right" [routerLink]="['/registerUser']"> new user? register here</a>
  </div>
